<nav>
    <div class="nav-wrapper">
        <ul id="nav" class="brand-logo center">
            <li><a href="/home">Accueil</a></li>
            <li class="active"><a href="#">{{ subdomain }}</a></li>
        </ul>
        <ul class="right">
            <li><a href="#">{{username}}</a></li>
        </ul>
    </div>
</nav>

<h1>Welcom on {{ subdomain }} page!</h1>
<script type="text/javascript">
    if ('{{messageNotInDb}}'.length >= 0) {
        document.getElementById('messageNotInDb').style.display = 'none'
    }

</script>
<h4 class="truncate" id="messageNotInDb">{{ messageNotInDb }}</h4>

<div class="row">
    <div class="col s12">
        <form>
            <div class="input-field col s6">
                <label for="textarea1">Write</label>
                <textarea id="textarea1" class="materialize-textarea"></textarea>
                <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </form>
        <div class="col s6">
            <h2>{{ dbBase }}</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias harum architecto mollitia totam ea facilis libero, esse suscipit iusto praesentium modi, dolore eius temporibus explicabo est similique excepturi hic culpa.</p>
        </div>
    </div>
</div>
